@use '../utils/mixins' as *;

.footer {
    height: 200px;
    background-image: url(../../footer-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @include for-tablet() {
        height: 400px;
    }

    @include for-desktop() {
        height: 460px;
    }
}