.header {
    background-image: url(../../../BOSE/img/header-background.jpg);
    background-color: rgb(175, 175, 175);
    background-repeat: no-repeat;
    background-size: cover;
    
    
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px 40px;
    box-sizing: border-box;
}